/Angga-Putra-Pratama-234110601050-UTSmetopen.pdf
/METOPEN-2_234110601050_ANGGA.pdf
/metopen-2_AnggaPutraPratama_234110601050-new.pdf
/Sistem Penyiraman Tanaman Otomatis Menggunakan Logika  Fuzzy Berbasis Intensitas Cahaya dan Kelembapan Tanah.docx
/Soal UTS Metodologi Penelitian 4 INF B.pdf
/~$stem Penyiraman Tanaman Otomatis Menggunakan Logika  Fuzzy Berbasis Intensitas Cahaya dan Kelembapan Tanah.docx